# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
*.env
*.venv/

# Django
db.sqlite3
media/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Static collected files
staticfiles/
